@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);

.page {
  width: 100%;
  max-width: 1377px;
  margin: 0 auto;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  color: #000;
}

.places {
  width: 100%;
  margin: 92px auto 0;
  background-color: #f2f2f2;
}

.places__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
}

.place {
  display: grid;
  grid-template-columns: minmax(688px, 1fr) minmax(688px, 1fr);
}

.place__image {
  width: 100%;
  height: 573px;
  object-fit: cover;
}

.place__description {
  padding: 38px 0 0 74px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.place__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
}

.place__text {
  max-width: 401px;
}

.place__text_type-forest {
  padding-bottom: 90px;
}

.place__text_type-mountains {
  padding-bottom: 90px;
}

.place__text_type-sea {
  padding-bottom: 66px;
}

.place__paragraph {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 22px;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}