@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);

.page {
  width: 100%;
  max-width: 1377px;
  margin: 0 auto;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  color: #000;
}

.header {
  padding-top: 54px;
  margin: auto;
  max-width: calc(100% - 2*75px);
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 35px;
    max-width: calc(100% - 2*35px);
  }
}

.header__menu {
  display: flex;
  justify-content: space-between;
}

.header__list {
 list-style: none;
 display: grid;
 gap: 40px;
 grid-template-columns: repeat(3, minmax(min-content, max-content));
 margin: 0;
 padding: 0;
 
}

@media screen and (max-width: 767px) {
  .header__list {
    gap: 20px;
    grid-template-columns: minmax(min-content, max-content);
  }
}

.header__item {
  
}

.header__link {
  text-decoration: none;
  color: #000;
  font-size: 13px;
  font-weight: 700;
  display: block;
}

.places {
  width: 100%;
  margin: 92px auto 0;
  background-color: #f2f2f2;
}

.places__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
}

.place {
  display: grid;
  grid-template-columns: minmax(688px, 1fr) minmax(688px, 1fr);
}

.place__image {
  width: 100%;
  height: 573px;
  object-fit: cover;
}

.place__description {
  padding: 38px 0 0 74px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.place__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
}

.place__text {
  max-width: 401px;
}

.place__text_type-forest {
  padding-bottom: 90px;
}

.place__text_type-mountains {
  padding-bottom: 90px;
}

.place__text_type-sea {
  padding-bottom: 66px;
}

.place__paragraph {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 22px;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 383px;
  padding: 92px 169px 50px 77px;
}
  
@media screen and (max-width: 1279px) {
  .intro {
    padding-right: 140px;
    padding-bottom: 100px;
    grid-template-columns: 1fr 363px;
  }
}
  
@media screen and (max-width: 1023px) {
  .intro {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 70px;
    grid-template-columns: 1fr 320px;
  }
}
  
@media screen and (max-width: 767px) {
  .intro {
    grid-template-columns: 1fr;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-top: 42px;
  }
}
  
.intro__main {
  display: flex;
  flex-direction: column;
}
  
.intro__subtitle {
  color: #fecda7;
  margin: 0;
  font-size: 12px;
  margin-top: 123px;
  margin-bottom: 31px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 767px) {
  .intro__subtitle {
    margin-top: 20px;
  }
}
  
.intro__title {
  font-size: 36px;
  font-weight: 700;
  max-width: 580px;
  margin: 0;
  line-height: 1.3;
  letter-spacing: -0.3px;
}
  
@media screen and (max-width: 1023px) {
  .intro__title {
    font-size: 30px;
  }
}
      
@media screen and (max-width: 767px) {
  .intro__title {
    margin-bottom: 50px;
    font-size: 30px;
  }
}
  
.intro__image {
  width: 100%;
  max-height: 383px;
  object-fit: cover; 
}
  
@media screen and (max-width: 1279px) {
  .intro__image {
    max-height: 363px;
  }
}
    
@media screen and (max-width: 1023px) {
  .intro__image {
    max-height: 320px;
  }
}
    
@media screen and (max-width: 767px) {
  .intro__image {
    max-height: 300px;
  }
}
  
.quotes { 
  max-width: calc(100% - 2*72px);
  margin: auto
}
  
@media screen and (max-width: 767px) {
  .quotes {
    max-width: calc(100% - 2*30px);
  }
}
  
.quotes__subtitle {
  margin: 148px 0 0;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #fecda7;
  letter-spacing: -0.1px;
}
  
@media screen and (max-width: 1023px) {
  .quotes__subtitle {
    margin-top: 100px;
  }
}
        
@media screen and (max-width: 767px) {
  .quotes__subtitle {
    margin-top: 70px;
  }
}
  
.quotes__title {
  margin-top: 31px;
  margin-bottom: 127px;
  max-width: 426px;
  font-size: 36px;
  font-weight: 700;
  max-width: 580px;
  line-height: 1.3;
  letter-spacing: -0.3px;
}
  
@media screen and (max-width: 1023px) {
  .quotes__title {
    margin-bottom: 100px; 
  }
}
          
@media screen and (max-width: 767px) {
  .quotes__title {
    margin-bottom: 50px;
    font-size: 22px;
  }
}
  
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 75px;
  margin-bottom: 135px;
}
  
@media screen and (max-width: 1279px) {
  .cards {
        
  }
}
      
@media screen and (max-width: 1023px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 105px;
  }
}
      
@media screen and (max-width: 767px) {
  .cards {
    gap: 42px;
  }
}
  
@media screen and (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
  
.cards__item {
  
}
  
.cards__title {
  margin: 0;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: -0.6px;
}
  
.cards__quote {
  margin: 25px 0 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}
  
.video {
  position: relative;
  padding-bottom: 48.87%; 
  height: 0;
  overflow: hidden;
}
  
.video__title {
  z-index: 4;
  position: relative;
  color: #ffffff;
  font-size: 39px;
  font-weight: bold;
  margin: 137px 0 0 75px;
}
  
@media screen and (max-width: 1279px) {
  .video__title {
    margin-top: 85px; 
  }
}
      
@media screen and (max-width: 1023px) {
  .video__title {
    margin-top: 65px; 
    margin-left: 30px;
    font-size: 32px
  }
}
      
@media screen and (max-width: 767px) {
  .video__title {
    margin-top: 35px; 
    margin-left: 30px;
    font-size: 17px
  }
}
  
@media screen and (max-width: 500px) {
  .video__title {
    margin-top: 15px; 
    margin-left: 30px;
  }
}
  
.video__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
  object-fit: cover;
  z-index: 1;
}
  
.video__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  
.video__overlay:hover {
  opacity: 0;
}

.footer {
  background-color: #fecda7;
  min-height: 660px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright {
  margin: 0;
  font-size: 35px;
  line-height: 16px;
  font-weight: 700;
}